{% extends '../base.html' %}


{% block content %}


<div class="gradient-wrapper">
  <div class="hero-section">
    <div class="hero-top-circle"></div>
    <div class="container">
      <h1 class="display-6 fw-bold">Comienza ahora a realizar tus encuestas de popularidad</h1>
      <p class="lead mt-3">Haz clic abajo para iniciar</p>
      <a href="#" class="btn btn-light btn-lg mt-3">Comienza aquí</a>
    </div>
  </div>

  <div class="container card-grid">
    <div class="custom-card">
      <div class="card-body"><h5>Encuesta Sanjil</h5></div>
    </div>
    <div class="custom-card">
      <div class="card-body"><h5>Medellín</h5></div>
    </div>
    <div class="custom-card">
      <div class="card-body"><h5>Cúcuta</h5></div>
    </div>
  </div>
</div>
{% endblock %}